@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Title Page-->
<title>Dashboard</title>

<!-- Fontfaces CSS-->
<link href="~/Admin/css/font-face.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="~/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

<!-- Vendor CSS-->
<link href="~/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">



<!-- Main CSS-->
<link href="~/Admin/css/theme.css" rel="stylesheet" media="all">

<!-- Dialog Box-->
<link rel="stylesheet" type="text/css" href="~/DialogBox/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/DialogBox/css/style.css">

<style type="text/css">
    .textBox {
        width: 150px;
        border-radius: 4px 4px 4px 4px;
        color: #555555;
        display: inline-block;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 4px 6px;
        vertical-align: middle;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
</style>