@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Menu" class="nav-link">Menu</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Services" class="nav-link">Services</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Shop" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Shop">Shop</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="ProductDetail">Product Detail</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Cart">Cart</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Checkout">Checkout</a>
                    </div>
                </li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
                @if (@User.Identity.Name == null)
                {
                    <li class="nav-item"><a asp-controller="User" asp-action="Login" class="nav-link">Sign In</a></li>
                }
                @if (@User.Identity.Name != null)
                {
                <li class="nav-item cart"><a asp-controller="Home" asp-action="Cart" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link " asp-controller="Home" asp-action="Shop" id="dropdown04"><span class="icon icon-user-circle-o"></span>&nbsp;@User.Identity.Name</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Shop">Shop</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="ProductDetail">Product Detail</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Cart">Cart</a>
                        <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
                    </div>
                </li>
                }


            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->